

.container {
  padding-top: 80px;
}

h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: #124265;
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #5e5e5e;
  margin: 10px 0 0 0;
  font-size: 22px;
}

.btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #2487ce;
}

.btn-get-started:hover {
  background: #3194db;
}

#hero1 .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #2487ce;
}

#hero1 .btn-get-started:hover {
  background: #3194db;
}

.icon-boxes {
  margin-top: 100px;
}

.icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

 .icon-box .title a {
  color: #124265;
  transition: 0.3s;
}

 .icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

 .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: #2487ce;
}

 .icon-box:hover {
  transform: scale(1.08);
}

 .icon-box:hover .title a {
  color: #2487ce;
}


