<section id="cta" class="cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p>Want to know more about your Life,Carrer,Relationship?</p>
        <h3>Subscribe for Newsletter</h3>
      </div>
      <div class="col-lg-6 footer-newsletter">
        <form action="" method="post" style="background-color: #FFFFFF; padding: 10px;">
          <input type="email" placeholder="E-Mail ID" name="email"><input type="submit" value="Subscribe">
        </form>
      </div>
    </div>
  </div>
</section>
