#header {
  transition: all 0.5s;
  background: #fff;
  z-index: 997;
  padding: 15px 0;
  border-bottom: 1px solid #e6f2fb;
}



@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}



