<section id="hero1" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="section-title">
      <img src="assets/img/icon.png" class="img-fluid" alt="">
    </div>
    <div class="row">
      <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
        <h3>Madhva Philosophy</h3>
        <p class="font-italic text-md-left">
          When you think of your BIG goal, sometimes you start feeling overwhelmed. Why? Because big goals don’t get achieved right away. Instead, you need to create mini goals to help excite you along the way. This way you can be more goal-orientated and build a habit of being more effective.When you think of your BIG goal, sometimes you start feeling overwhelmed. Why? Because big goals don’t get achieved right away. Instead, you need to create mini goals to help excite you along the way.When you think of your BIG goal, sometimes you start feeling overwhelmed. Why? Because big goals don’t get achieved right away. Instead, you need to create mini goals to help excite you along the way.
        </p>
        <div id="hero1">
          <a href="#about" class="btn-get-started scrollto">Know More</a>
        </div>
      </div>
      <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
        <img src="assets/img/Madhva-Philosophy.jpg" class="img-fluid" alt="">
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
      </div>
    </div>
  </div>
</section><!-- End Hero -->
