<section id="team1" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <img src="assets/img/icon.png" class="img-fluid" alt="">
      <p>See what our client tells about us</p>
      <h2>Testimonials</h2>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-6.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-5.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Team Section -->
