<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <img src="assets/img/icon.png" class="img-fluid" alt="">
      <h2>Explore</h2>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4 style="text-align: left; color: #33fff3;">Insights&nbsp;<img src="assets/img/right-arrow.png" style="height: 33px; width: auto; margin-left: 30px;"></h4>
            <span style="text-align: left;">Chief Executive Officer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4 style="text-align: left;">Tools&nbsp;<img src="assets/img/right-arrow.png" style="height: 33px; width: auto; margin-left: 30px;"></h4>
            <span style="text-align: left;">Product Manager</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4 style="text-align: left;">Programes&nbsp;<img src="assets/img/right-arrow.png" style="height: 33px; width: auto; margin-left: 30px;"></h4>
            <span style="text-align: left;">CTO</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Team Section -->
